<div>
<%= form_tag restaurants_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Find specials", :disable_with => 'Finding...' %>
  </p>
<% end %>
</div>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Telephone</th>
      <th>Webpage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for restaurant in @restaurants %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip_code %></td>
        <td><%= restaurant.telephone %></td>
        <td><%= restaurant.webpage %></td>
        <td><%= link_to 'Show ', restaurant %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>



