<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @restaurant.zip_code %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @restaurant.webpage %>
</p>

<div id="lunchspecials" >
<% if current_user %>
  <p>Add lunch special</p>
  <%= render 'lunch_specials/form' %>

  This restaurant has <%= @restaurant.lunch_specials.count %> lunch specials

  <%= render partial: @restaurant.lunch_specials %>

</div>

<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
