<div id="content">
<p id="notice"><%= notice %></p>
  <div id="showresrow1" class="row" >
    <div id="showrescol1">
        Restaurant info goes here
    </div>
    
  </div>
  
  



<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>

<h3>other restaurants</h3>
<% for restaurant in @restaurant.nearbys(4) %>
  <%= link_to restaurant.address, restaurant %> (<%= restaurant.distance.round(2) %> miles)
  <% end %>


<div id="lunchspecials" >

  <p>Add lunch special</p>
  <%= render 'lunch_specials/form' %>

  This restaurant has <%= pluralize(@restaurant.lunch_specials.count, "lunch special") %> 
  <%= render partial: @restaurant.lunch_specials %>

</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


