<!-- MODAL TO ADD LUNCH SPECIAL TO THIS RESTAURANT -->

<div id="showresrow0" class="row">
    <div id="showrow0col1">
    <% if user_signed_in? %>
      <a class="advsearch" href="#" data-reveal-id="myModal">Add Lunch Special</a>
    <% else %>
      <%= link_to 'sign in to add new special', user_session_path, class: "advsearch" %>
    <% end %>
    </div>
    <div id="showrow0col2" >
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <%= link_to 'Back', lunch_specials_path %>
    </div>
  </div>
<div>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div id='advance_search'>
    <p>Add lunch special</p>
    <%= render 'lunch_specials/form' %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>
<a data-reveal-id="Modal">Directions</a>
<div id="Modal" class="reveal-modal" data-reveal >
 
          <div id="directions" style='width: 400px; height: 300px;'></div>
  
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>
<!-- END OF MODAL -->


<!-- FIRST ROW STARTS HERE -->
  <div id="showresrow1" class="row" >
    <div id="showrescol1">
     <h5> <%= @restaurant.name  %> </h5>
     <p> <%= @restaurant.address %> </p>
     <p> <%= @restaurant.city %> <%= @restaurant.state %> <%= @restaurant.zip_code %></p>
     <h2>REMOVE THIS</h2>
     <p id="end"> <%= "#{@restaurant.latitude}" + ", " + "#{@restaurant.longitude}" %> </p>
     <p id="start"> <%= session[:address] %></p>
     
     <p><%= @restaurant.telephone %></p>
     <p><%= @restaurant.webpage %></p>
     
    </div>
    <div id="showrescol2" >
        <div style='width: 300px;'>
          <div id="map" style='width: 400px; height: 300px;'></div>
        </div>

    </div>
  </div>

   
  <!-- FIRST ROW ENDS HERE -->
  <!-- SECOND ROW STARTS HERE -->
  <div id="showresrow2" class="row" >
    <div id="showrescol1">
       <h5> Specials offered by this restaurant</h5>
          This restaurant has <%= pluralize(@restaurant.lunch_specials.count, "lunch special") %> 
          <%= render partial: @restaurant.lunch_specials %>
    </div>
  </div>
  <!-- SECOND ROW ENDS HERE -->
  <!-- THIRD ROW STARTS HERE -->
  <div id="showresrow3" class="row" >
    <div id="showrescol1">
       <h5> Other restaurants with specials near this restaurant</h5>
        <% for restaurant in @restaurant.nearbys(4) %>
        <ul>
          <li>
            <%= link_to restaurant.name, restaurant %> (<%= restaurant.distance.round(2) %> miles)
          </li>
        </ul>
        <% end %>
    </div>
  
  </div>

  </div>
</div>
  
<script>
  handler2 = Gmaps.build('Google');
  handler2.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler2.addMarkers(<%=raw @hash.to_json %>);
  handler2.bounds.extendWith(markers);
  handler2.fitMapToBounds();
  handler2.getMap().setZoom(15)
});

var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();
function calcRoute() {
  var origin = new google.maps.LatLng(<%= session[:address] %>);
  var destination = new google.maps.LatLng(<%= @restaurant.latitude %>, <%= @restaurant.longitude %>);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}
calcRoute();
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  
  directionsDisplay.setMap(handler.getMap());
  directionsDisplay.setPanel(document.getElementById('directions-panel'));
});




</script>


