

  <div id="row1" 
    <div class="column">
      <%= link_to restaurants_path do %>
      <i class="fi-plus"></i>
      <% end %>
      <a class="advsearch" href="#" data-reveal-id="myModal">Advanced Search</a>`
    </div>
  </div>

<!-- MODAL STARTS HERE -->
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div id='advance_search'>
    <%= search_form_for @q do |f| %>
    <ul>
      <li>
        <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
      <% end %>
      </li>
    </ul>
    <div>
      <%= link_to_add_fields "Select other filter", f, :condition %>
    </div>
    <div>
      <%= f.submit "Search", class: "button" %> 
    <% end %>
    </div>
    
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- MODAL ENDS HERE -->
 
<% @lunch_special.each do |lunch_special| %>
  
  <div id="content" class="row">
    <div id="col1" class="column">
    <% if lunch_special.avatar.present? %>
      <%= link_to(image_tag lunch_special.avatar.url(:thumb), class: "image")%>
    <% else %>
      <p>No image for this special</p>
    <% end %>
      
    </div>
    <div id="col2" class="column">
      <div id="col2row1">
        <div id="secol1">
          <h5><%= link_to lunch_special.title, lunch_special %></h5> 
          <%= lunch_special.description %>  
        </div>
        <div id="secol2">
          Cal <%= lunch_special.calories %> <br>
        </div> 
      </div>
      
      <div id="col2row2">
        <div id="thirdcol1">
         <%= link_to lunch_special.restaurant.name, restaurant_path(lunch_special.restaurant) %> | 
          <%= lunch_special.restaurant.address %>
          <%= lunch_special.restaurant.state %>
        </div>
        <div id="thirdcol2">
         <%= lunch_special.distance.round(2) %> miles
        </div>
        
      </div>
            
    </div>
    <div id="col3" class="column">
      <div id="pricerow">
        <h3>$<%= lunch_special.price %></h3>
      </div>
        <div id="votesrow">
          <ul class="votes">
          <li><%= link_to like_lunch_special_path(lunch_special), method: :put do %>
            <i class="fi-like"></i>
           
          <%= lunch_special.get_upvotes.size %>
            <% end %>
          </li>
          <li>
            <%= link_to dislike_lunch_special_path(lunch_special), method: :put do %>
            <i class="fi-dislike"></i>
            
             <%= lunch_special.get_downvotes.size %>
            <% end %>
          </li>
        </ul>
        </div>
    </div>
  </div> 

<% end %>
  </div>

</div>


