
  <div class="row">
    <%= link_to new_lunch_special_path do %>
      <i class="fi-plus"></i>
    <% end %>
  </div>

<% @lunch_specials.each do |lunch_special| %>
  
  <div id="content" class="row">
    <div id="col1" class="column">
        map goes here
    </div>
    <div id="col2" class="column">
        <h5><%= lunch_special.title %></h5> 
            <%= lunch_special.description %>
            <%= lunch_special.calories %>
            
    </div>
    <div id="col3" class="column">
        <h5>$<%= lunch_special.price %></h5>
        
     <%= link_to "show", lunch_special %>   
            
            
    </div>
  </div> 
  <% end %> 
  </div>

</div>

        

      


    
            
      




