

 

<!-- MODAL STARTS HERE -->
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div id='advance_search', class="field">
    <%= search_form_for @q do |f| %>
    <ul>
      <li>
        <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
      <% end %>
      </li>
    </ul>
    <div>
      <%= link_to_add_fields "Add more filters", f, :condition %>
    </div>
    <div>
      <%= f.submit "Search", class: "button" %> 
    <% end %>
    </div>
    
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- MODAL ENDS HERE -->
 
<% @lunch_special.each do |lunch_special| %>
  
  <div id="main_row" class="row">
  <!-- FIRST COLUMN -->
    <div class="small-6 large-2 columns">
      <% if lunch_special.avatar.present? %>
        <%= link_to(image_tag lunch_special.avatar.url(:thumb), class: "image")%>
      <% else %>
        <p>No image for this special</p>
      <% end %>
    </div>
  <!-- SECOND COLUMN -->
    <div class="small-9 large-8 columns">
      <div class="row">
        <div class="small-10 columns">
          <h5><%= link_to lunch_special.title, lunch_special %></h5> 
          <%= lunch_special.description %>  
        </div>
        <div class="small-2 columns">
          Cal <%= lunch_special.calories %> <br>
        </div> 
      </div>
      
      <div class="row">
        <div class="small-10 columns">
         <%= link_to lunch_special.restaurant.name, restaurant_path(lunch_special.restaurant) %> | 
          <%= lunch_special.restaurant.address %>
          <%= lunch_special.restaurant.state %>
        </div>
        <div class="small-2 columns">
         <%= lunch_special.distance.round(2) %> miles
        </div>
        
      </div>
    </div>
     <!-- THIRD COLUMN -->
    <div class="small-12 large-2 columns">
      <div id="index_price" class="row">
        <div class="small-12 large-12 columns">
          <h3>$<%= lunch_special.price %></h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-12 columns">
          <ul class="votes">
            <li class="small-6 large-6 columns"><%= link_to like_lunch_special_path(lunch_special), method: :put do %>
            <i class="fi-like"></i>

            <%= lunch_special.get_upvotes.size %>
            <% end %>
            </li>
            <li class="small-6 large-6 columns">
            <%= link_to dislike_lunch_special_path(lunch_special), method: :put do %>
            <i class="fi-dislike"></i>
            <%= lunch_special.get_downvotes.size %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> 

<% end %>
</div>

</div>


