<%= form_for [LunchSpecial.new] do |f| %>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, placeholder: "search city" %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, id: 'latitude' %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Avatar" %>
    <%= f.file_field :avatar %>
  </div>
  
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, id: 'longitude' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<button onclick="showlocation()">your location</button>


<script>
 
function showlocation(){
    navigator.geolocation.watchPosition(callback);
}
function callback(position){
    document.getElementById('latitude').value=position.coords.latitude;
    document.getElementById('longitude').value=position.coords.longitude;
}
</SCRIPT>


