<div id="showresrow1" class="row">
  <div id="showrescol1">
    <div id="spe1row1">
      <div id="col1">
        <h4><%= @lunch_special.title %></h4> 
        <p> <%= @lunch_special.description %></p>
        <ul class="votes">
          <li><%= link_to like_lunch_special_path, method: :put do %>
            <i class="fi-like"></i>
           
          <%= @lunch_special.get_upvotes.size %>
            <% end %>
          </li>
          <li>
            <%= link_to dislike_lunch_special_path, method: :put do %>
            <i class="fi-dislike"></i>
            
            <%= @lunch_special.get_downvotes.size %>
            <% end %>
          </li>
        </ul>
      </div>
      <div id="col2">
       <h4>$<%= @lunch_special.price %></h4>  
       <p>Cal <%= @lunch_special.calories %></p>
      </div>
    </div>
    <div id="spe1row2">
      
        <%= link_to @lunch_special.restaurant.name, restaurant_path(@lunch_special.restaurant) %>
        <%= @lunch_special.restaurant.address %>
        <%= @lunch_special.restaurant.state %>

      
    </div>
  </div>
  <div id="showrescol2" >
    <div style='width: 400px;'>
      <div id="map" style='width: 400px; height: 200px;'></div>
    </div>
  </div>
<!-- PICTURES -->

  <%= form_for(@pictures), :html => {:multipart => true} do |f| %>
     <%= f.error_messages %>

      <%= f.hidden_field :lunch_special_id %> 
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.file_field :image %>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>
    
<!-- PICTURES END -->


<% if user_signed_in? %>

  <%= link_to 'information not acurate?', edit_lunch_special_path(@lunch_special) %> |
  <% end %>

<%= link_to 'Lunch Specials', lunch_specials_path %>



</div>



<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {Zoom: 15}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15)
});
</script>
