<button class="button radius" onclick="showlocation()">Search Lunch Specials Near You</button>
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5>Or....</h5>

  <div class="field">

    <%= f.text_field :address, placeholder: 'Enter an address, city or zip code to search', id: 'newsearchfield' %>
  </div>

    <%= f.text_field :latitude, type: 'hidden', id: 'latitude' %>
   <%= f.text_field :longitude, type: 'hidden', id: 'longitude' %>

  <div class="actions">
    <%= f.submit value="search", class: 'button small radius', id: 'submitbtn'%>
  </div>
<% end %>

<script>
 
function showlocation(){
    navigator.geolocation.watchPosition(callback);
}
function callback(position){
    document.getElementById('latitude').value=position.coords.latitude;
    document.getElementById('longitude').value=position.coords.longitude;
    document.getElementById("submitbtn").click();
}
</SCRIPT>
